<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>San Myshuno</title>
    <link rel="stylesheet" href="/css/start.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <script src="/js/requestAccount.js"></script>
</head>
<body>
    <div class="background-container"></div>
    <nav class="navbar">
        <div class="logo">
            <div class="logo-icon">
                <img src="/images/web-logo.png" alt="San Myshuno">
            </div>
        </div>
        <button class="request-account-btn">Request an Account</button>
    </nav>

    <div class="content-container">
        <img src="/images/login-bg.png" alt="San Myshuno">
        @RenderBody()
    </div>
</body>
</html>