@{
    Layout = "~/Views/Shared/Admin.cshtml";
}

<link rel="stylesheet" href="/css/transactions.css">

<div class="transactions-container">
    <div class="transactions-header">
            <div class="dropdown-menu" id="filterMenu">
                <div class="filter-option" data-filter="Facility">Facility</div>
                <div class="filter-option" data-filter="Service">Service</div>
                <div class="filter-option" data-filter="Dues">Dues</div>
            </div>
    </div>

    <div class="transactions-list" id="transactionsList">
        <div class="transaction-item" data-type="Facility">
            <div class="transaction-details">
                <p><span class="bold">Payment method:</span> Gcash</p>
                <p><span class="bold">Paid by:</span> Homeowner name</p>
                <p><span class="bold">Paid to:</span> Facility</p>
                <p><span class="bold">Date paid:</span> April 2, 2025</p>
            </div>
            <div class="transaction-amount">+500</div>
        </div>

        <div class="transaction-item" data-type="Service">
            <div class="transaction-details">
                <p><span class="bold">Payment method:</span> Gcash</p>
                <p><span class="bold">Paid by:</span> Homeowner name</p>
                <p><span class="bold">Paid to:</span> Facility</p>
                <p><span class="bold">Date paid:</span> April 2, 2025</p>
            </div>
            <div class="transaction-amount">+500</div>
        </div>
    </div>
</div>
