.transactions-container {
    width: 100%;
    margin: 0 auto;
    padding: 0; 
    font-family: 'Inter', sans-serif;
}

.transactions-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    position: relative;
}

.transactions-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.transaction-details {
    font-size: 16px;
    color: #666;
}

.bold {
    color: black;
    font-weight: bold;
}

.transaction-amount {
    font-size: 16px;
    font-weight: bold;
    color: green;
    margin-left: 10px;
}
